/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  @include flex(center, center, column);
  width: 100%;
  height: 100%;
  background: $background-color;
  overflow: hidden;
  font-family: "Red Hat Display", sans-serif;
}

h2 {
  font-size: $header2;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
}

h4 {
  font-size: $header4;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-size: $text;
  color: hsl(224, 23%, 55%);
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
}
